.register {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/register-background.jpg');
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .top {
    height: 15%;
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
  .conatiner {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    color: #ffffff;
    min-width: 25%;
    h1 {
      padding-bottom: 1rem;
    }
    input {
      border: none;
      margin-bottom: 1.5rem;
      padding: 1rem;
      width: 80%;
      background-color: #333333;
    }
    button {
      padding: 0.8rem;
      width: 88%;
      border: none;
      background-color: red;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      color: #ffffff;
      font-weight: 500;
      margin-bottom: 2rem;
    }
  }
}
